@import url(colors-fonts.css);

/*_____ GLOBAL STYLES _____*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 0.5rem;
  font-family: 'Outfit', sans-serif;
  font-size: var(--font-size-default);
  color: var(--text1-softblue);
  background: var(--main-bg-vvdkblue);
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  max-height: 100vh;
}

a:link {
  color: var(--white);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
}

a:hover,
a:focus,
a:active {
  color: var(--text2-cyan);
}

img,
svg {
  display: block;
  max-width: 100%;
}


/*_____ GLOBAL FLEX__GROUP _____*/
.flex__group {
  display: flex;
}

/*_____ WHOLE CARD FLEX COLUMN _____*/

.card {
  flex-direction: column;
  max-width: 21.875rem;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 1.25rem;
  background-color: var(--card-bg-vdkblue);
  -webkit-box-shadow: 0px 10px 20px 20px var(--box-shadow);
  box-shadow: 0px 10px 20px 20px var(--box-shadow);
}


/*_____ HIDDEN H1 _____*/
/*@ https://www.a11yproject.com/posts/how-to-hide-content/ */

.h1__hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1:focus,
.h1__hidden {
  height: 1px;
  color: var(--main-bg-vvdkblue);
}

/*_____ NFT LOGO IMAGE _____*/
/*@ @Frontend Practice: https://www.youtube.com/watch?v=Jf-hNuvrLOY */

.logo__container {
  display: block;
  position: relative;
  margin: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;
}

.logo__container:hover .logo__svg-wrap,
.logo__container:focus .logo__svg-wrap {
  visibility: visible;
}

.logo__container:hover .logo__image,
.logo__container:focus .logo__image {
  transform: scale(1.1);
}

.logo__img-wrap {
  width: 100%;
  height: 100%;
}

.logo__img-wrap .logo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
}

.logo__svg-wrap {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text2-cyan);
  opacity: .6;
  color: var(--white);
  transition: .5s ease;
}


/*_____ NFT NAME TITLE _____*/

h2.nft__name {
  margin: 0 1.5rem 1.25rem 1.5rem;
  font-size: var(--font-size-h2-nft);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--white);
  text-decoration: none;
}

h2.nft__name:hover,
h2.nft__name:focus {
  cursor: pointer;
  color: var(--text2-cyan);
}



/*_____ NFT SUMMARY PARAGRAPH _____*/

p.summary {
  margin: 0 1.5rem 1.5rem 1.5rem;
  font-weight: 300;
  line-height: 1.7;
}


/*_____ COST & DAYS LEFT FLEX GROUP _____*/

/*### COST & DAYS PARENT ###*/
.flex__group.cost-and-days {
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

/*### COST SIBLING (eth svg + cost H3) ###*/
.flex__group.cost {
  align-items: center;
  gap: 0.5rem;
  color: var(--text2-cyan)
}

.eth__icon {
  /*--- eth svg icon */
}

h3.cost {
  font-size: var(--font-size-h3-cost);
  font-weight: 600;
}

/*### DAYS SIBLING (clock svg + days left P) ###*/
.flex__group.days {
  align-items: center;
  gap: 0.4rem;
  font-size: var(--font-size-days);
  font-weight: 400;
}

.clock__icon {
  /*--- clock svg icon */
}


/*_____ CREATOR FLEX GROUP _____*/

/*### AVATAR & CREATOR NAME LINK */
.flex__group.creator {
  align-items: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding-top: .875rem;
  font-size: var(--font-size-creator);
  font-weight: 400;
  border-top: 1px solid var(--line-dkblue);
}

img.creator__avatar {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: .9375rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.name {
  text-decoration: none;
  color: var(--white);
}


/*_____ FOOTER _____*/

footer.attribution {
  font-size: var(--font-size-footer);
  text-align: center;
  color: var(--white);
}

footer.attribution a:link {
  text-decoration: underline;
}